@font-face {
  font-family: 'primetimeregular';
  src: url('../asset/font/primetime-webfont.woff') format('woff2'),
       url('../asset/font/primetime-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
    height: 100%;
    width: 100%;

  }
  body{
    margin: 0;
    padding: 0;
  }
  .main-head{
    background-color: 1px solid rgba(255, 255, 255, 3);
    color: black;
  }
 a.menu{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    
  }
  a.menu:hover{
    /* font-weight: 1000; */
    text-decoration: underline 2px;
  }
  nav{
    width: 50%;
    margin-left: 49%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  nav ul{
    flex: 1 1 40rem;
    align-items: center;
    list-style: none;
  }
  .slider {
      height: 80vh;
      position: relative;
  }
  
  .slider img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s;
  }
  
  .slider img.active {
      opacity: 1;
  }
  
  #logo{
    height: 50px;
    width: auto;
    margin-top: 15px;
  }
  
  .card1 {
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  background-color: black;
  height: 400px;
  width: 280px;
  border: 1px solid black;
  }
  /*.card1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  }*/
  
  .card1 h3 {
  margin: 10px;
  }
  
  .card1 p {
  margin: 10px;
  }
  
  .play-button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  
  audio {
    display: none;
  }
  
.titre1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'primetimeregular';
  
  }
  
  .card1 img {
    width: 280px;
    height: 200px;
    padding-left: 0;
  }
  
   h2.positionCard {
    color: black;
    background-color: white;
    border: 0.5px solid black;
    text-align: center;
    position: relative;
    top: -30px;
    font-family: 'primetimeregular';
    
  }
  
  audio {
    padding-top: 15px;
    margin-left: 10px;
    color: black;
    width: 280px;
  }
  

  .gridCard{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-content: center;
  }
  
  p.positionCard {
    color: white;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 17px;
    position: relative;
    top: -50px;
  }
  
  .button {
    height: 15px;
    width: 15px;
  }
  
  img.ctrlIcon {
    height: 30px;
    width: auto;
    z-index: 1000;
    position: relative;
    top: -120px;
    left: 230px;
    border: solid 1.5px white;
    border-radius: 30px;
    background-color: white;
  }
  footer {
    width: 100%;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: auto;
  }
  footer p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }


  p.gategDesc {
    margin-left: 30px;
  }

   h2.gategName{
    font-family: 'primetimeregular';
    margin-left: 30px;
    margin-top: 50px;
  }

