/*.box {
    max-width: 500px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background: #fff;
    border-radius: 3px;
    border: 5px solid black;
    box-shadow: 3px 3px 7px #B36700;
}
.box h3 strong {
    color: black;
    font-weight: 900;
}
.formbloc h3 {
    color: #666;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 45px;
}

.formbloc .formgroupe {
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.formbloc .formgroupe label {
    position: absolute;
    top: 50%;
    left: 0px;
    transition: translateY(-50%);
    color: #aaa;
    font-size: 20px;
    transition: 0.4s ease-out;
}

.inputUser {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    font-size: 20px;
}


.formgroupe:nth-child(4) {
    margin-bottom: 65px;
    justify-content: center;
}

.buttonsub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid black;
    border-radius: 999px;
    background: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 100%);
    /*background-image: linear-gradient(to right, transparent 50%,
    rgba(0,0,0,1) 50%, rgba(255,255,255,1)100%);*/
   /*/* background-size: 200%;
    color: #B36700;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.buttonsub:hover {
    color:#fff;
    background-position: 100%;
    border: 3px solid #fff;
}

.formbloc  {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.formbloc a:hover {
    border-bottom-color: #020207ee;
}

/*Animation*/

/*.formbloc .formgroupe:focus-within label,
.formbloc .formgroupe.animation label {
    top: 0px;
    transform: translateY(-100%);
    color: hsl(233, 50%, 6%);
}

.formgroupe:focus-within input,
.formgroupe.animation input {
    border-bottom-color:black ;
}*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formcontact{
    width: 100%;
    height: 100vh;
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after{
    content:'';
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    *background-image: linear-gradient(to right, transparent 50%,
    rgba(0,0,0,1) 50%, rgba(255,255,255,1)100%);*
    /*background: url("img/bg.jpg") no-repeat center;*/
    background-size: cover;
    z-index:-1;
    filter: blur(50px);
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left{
    height: 100%;
    background: url("img/bg.jpg") no-repeat center ;
    background-size: cover;
}

.right{
    padding: 25px 40px;
}

.contactezns{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
 

.contactezns:after {
    content: '';
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}


@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        height: 200px;
    }
}